<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:database.properties</value>
            </list>
        </property>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
    </bean>

    <!--ForgotPasswordController beans START-->
    <bean id="forgotPasswordService" class="group12.ForgotPassword.ForgotPasswordService">
        <property name="db" ref="DBDAO"/>
        <property name="mailer" ref="mailer"/>
    </bean>

    <!--ForgotPasswordController beans ENDT-->


    <!--RegistrationController beans START-->
    <bean id="registrationService" class="group12.registration.RegistrationService">
        <property name="db" ref="DBDAO"/>
        <property name="mailer" ref="mailer"/>
    </bean>

    <bean id="DBDAO" class="group12.data_access.MysqlDAOImpl">
<!--
        <property name="dataSource" ref="dataSource"/>
-->
    </bean>
    <!--RegistrationController beans ENDT-->

    <!--DataSource bean is shared-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${spring.datasource.url}"/>
        <property name="username" value="${spring.datasource.username}"/>
        <property name="password" value="${spring.datasource.password}"/>
    </bean>

    <bean id="mailer" class="group12.email.SpringMailer">
        <property name="mailSender" ref="mailSender"/>
    </bean>

    <!-- SET default mail properties -->
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.gmail.com"/>
        <property name="port" value="587"/>
        <property name="username" value="${email.sender}"/>
        <property name="password" value="${email.password}"/>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.transport.protocol">smtp</prop>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
                <prop key="mail.debug">true</prop>
            </props>
        </property>
    </bean>

</beans>
