<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:database.properties</value>
            </list>
        </property>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
    </bean>

    <bean id="searchService" class="group12.search.SearchService">
    </bean>
  
    <!--LoginController beans START-->
    <bean id="student" class="group12.login.StudentAuthStrategy">
        <property name="authDAO" ref="authDAO"/>
        <property name="bannedStudentGoTo" value="${login.bannedStudentGoTo}"/>
        <property name="inactiveStudentGoTo" value="${login.inactiveStudentGoTo}"/>
        <property name="activeAndUnbannedStudentGoTo" value="${login.activeAndUnbannedStudentGoTo}"/>
    </bean>

    <bean id="tutor" class="group12.login.TutorAuthStrategy">
        <property name="authDAO" ref="authDAO"/>
        <property name="bannedTutorGoTo" value="${login.bannedTutorGoTo}"/>
        <property name="inactiveTutorGoTo" value="${login.inactiveTutorGoTo}"/>
        <property name="activeAndUnbannedTutorGoTo" value="${login.activeAndUnbannedTutorGoTo}"/>
    </bean>

    <bean id="admin" class="group12.login.AdminAuthStrategy">
        <property name="authDAO" ref="authDAO"/>
        <property name="adminGoTo" value="${login.adminGoTo}"/>
    </bean>

    <bean id="authDAO" class="group12.login.MysqlAuthDAO">
    </bean>
    <!--LoginController beans END-->

    <bean id="configuration" class="group12.Configuration">
        <property name="db" ref="DBDAO"/>
    </bean>

    <!--ForgotPasswordController beans START-->
    <bean id="forgotPasswordService" class="group12.ForgotPassword.ForgotPasswordService">
        <property name="db" ref="DBDAO"/>
        <property name="mailer" ref="mailer"/>
    </bean>

    <!--ForgotPasswordController beans ENDT-->

    <!-- TutorSettingService bean START-->
    <bean id="tutorSetting" class="group12.tutor_setting.TutorSettingService">
        <property name="mailer" ref="mailer"/>
    </bean>
    <!-- TutorSettingService bean END-->

    <!--ForgotPasswordController beans START-->
    <bean id="tutorProfileService" class="group12.tutor_profile.TutorProfileService">
        <property name="db" ref="DBDAO"/>
        <property name="mailer" ref="mailer"/>
    </bean>

    <!--ForgotPasswordController beans ENDT-->

    <bean id="studentSetting" class="group12.student_setting.StudentSettingService">
        <property name="db" ref="DBDAO"/>
        <property name="mailer" ref="mailer"/>
    </bean>

    <!--RegistrationController beans START-->
    <bean id="registrationService" class="group12.registration.RegistrationService">
        <property name="dao" ref="DBDAO"/>
        <property name="mailer" ref="mailer"/>
    </bean>

    <bean id="encryptor" class="group12.encryption.SimpleMD5Encryptor">
    </bean>

    <bean id="DBDAO" class="group12.data_access.MysqlDAOImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--RegistrationController beans ENDT-->

    <!--DataSource bean is shared-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${spring.datasource.url}"/>
        <property name="username" value="${spring.datasource.username}"/>
        <property name="password" value="${spring.datasource.password}"/>
    </bean>

    <bean id="mailer" class="group12.email.SpringMailer">
        <property name="mailSender" ref="mailSender"/>
    </bean>

    <!-- SET default mail properties -->
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.gmail.com"/>
        <property name="port" value="587"/>
        <property name="username" value="${email.sender}"/>
        <property name="password" value="${email.password}"/>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.transport.protocol">smtp</prop>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
                <prop key="mail.debug">true</prop>
            </props>
        </property>
    </bean>

</beans>
