.navbar-header, a{
    font-size: 15px;
    color: #f1f1f1;
}

.nav a{
    color: #f1f1f1;
}
a:hover{
    color: #558FCA;
}
.navbar-header a:hover{
    color: #f1f1f1;
}
html, body {
     background: #f1f1f1;
     font-family: 'Merriweather', sans-serif;
 }

#main{
    text-align: center;
    padding-top: 50px;
}